/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  font-family: inherit;
  --background-color: #000028;
  --accent-color: #FF0070;
  --block-accent-color: #000028;
  --block-color: #FF0070;
  --main-color: #F1B2CE;
  --label-color: #DB00FF;
  --label-shadow: #FF0070;
  --label-color-small: #DB00FF;
  --label-shadow-small: #FF0070;
  --semi-transparent:#FF007066;
  --rec-color:#FF0070;
  --background-image: url(../images/cover-image-dark.png);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: dark) {
  .theme_auto{
    --background-color: #000028;
    --accent-color: #FF0070;
    --block-accent-color: #000028;
    --block-color: #FF0070;
    --main-color: #F1B2CE;
    --label-color: #DB00FF;
    --label-shadow: #FF0070;
    --label-color-small: #DB00FF;
    --label-shadow-small: #FF0070;
    --semi-transparent:#FF007066;
    --rec-color:#FF0070;
  }

  }