/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --background-color: #FFF1F7;
  --accent-color: #353430;
  --block-color: #ff8dcb;
  --block-accent-color: #353430;
  --decor-color: #353430;
  --label-color: #FFC2E6;
  --main-color: #353430;
  --rec-color: transparent;
  --semi-transparent:#32312D66;
  --background-image: url(../images/cover-image-light.png);
  font-family: inherit;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  .theme_auto{
  --background-color: #FFF1F7;
  --accent-color: #353430;
  --block-color: #ff8dcb;
  --decor-color: #353430;
  --label-color: #FFC2E6;
  --main-color: #353430;
  --rec-color: transparent;
  --semi-transparent:#32312D66;
  --background-image: url(../images/cover-image-light.png);
  font-family: inherit;
  }

  @media (max-width: 768px){
    .page.theme_light{
      --label-color: #FFC2E6;
      --label-shadow: #FF8DCB;
    }
  }
}

