/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
html{
  font-family: var(--main-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: var(--line-height);
}

.page {
  display: grid;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  color: var(--main-color);
  padding-block-start: 20px;
  background-image: var(--background-image); /*Только для dark*/
  /*background-size: cover;*/
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*max-inline-size: var(--max-size);*/
  font-size: var(--font-size-main);
  justify-content: center;
}

.header{
  display: grid;
  position: relative;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 100vh;
  justify-items: center;
}

.header__theme-menu {
  font-family: inherit;
  display: flex;
  justify-content: center;
  min-inline-size: 100vw;
  margin-inline-start: 20px;
}

.header__theme-menu-item {
  display: inline-block;
}

.header__theme-menu-list{
  display: flex;
  gap: 10px;
}

.header__theme-menu-button{
  width: 70px;
  height: 26px;
  font-size: var(--font-size-main);
  
  text-transform: lowercase;
  color: var(--decor-color);
  background-color: transparent;
  border: transparent;
}

.header__theme-menu-button:disabled{
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.button{
  cursor: pointer;
}

.button:hover{
  outline: 1px solid var( --semi-transparent);
}

.button:focus {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.hidden-element{
  position: absolute;
  display: flex;
  text-transform: uppercase;
  justify-self: flex-end;
  color: var(--rec-color);
  font-family:  var(--main-font-family);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  margin-right: 40px;
}

.hidden-element::after{
  content: ""; 
  width: 9px; 
  height: 9px;
  background-color: var(--rec-color);
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-end: -10px;
  margin-inline-start: 10px;
  border-radius: 30px;
}

.label-box{
  display: flex;
  justify-content: flex-start;
  width: inherit;
  margin-inline-start: 15px;
  max-inline-size: var(--max-size);
}

.label{
  display: flex;
  color: var(--label-color);
  text-shadow: 4px 4px 0px var(--label-shadow);
  font-family: var(--main-font-family);
  font-size: var(--font-size-label);
  font-style: normal;
  font-weight: bold;
  margin-block-start: 275px;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 82.5%;
}

.under-label{
  display: flex;
  justify-content: flex-end;
  margin-block-start: 168px;
  margin-block-end: 134px;
  width: inherit;
  margin-inline-end: 20px;
  max-inline-size: var(--max-size);
}

.header-text{
  background-color: var(--block-color);
  color: var(--block-accent-color);
  display: grid;
  width: 48%;
  font-weight: bold;
  font-size: var(--font-size-main);
  height: fit-content;

}

.decorated-zone{
  width: 100%;
}

.decorated-zone::before{
  display: block;
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  right: 20px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after{
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  left: 20px;
  bottom: 20px;
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.main-content{
  margin-block-start: 60px;
  display: flex;
  max-inline-size: var(--max-size);
}

.text-block{
  display: flex;
  width: 100%;
  margin-inline-end: 20px;
  margin-inline-start: 10px;
}

.text-block .card{
  flex-wrap: wrap;
}

.content{
  display: flex;
  flex-direction: column;
  margin-block-end: 8px;
}

.card_item{
  width: 100%;
}

h2{
  color: var(--block-accent-color);
  font-weight: bold;
  font-size: var(--font-size-main);
}

h3{
  background-color: var(--block-color);
  color: var(--block-accent-color);
  font-weight: bold;
  font-size: var(--font-size-main);
}

h4{
  background-color: var(--block-color);
  color: var(--block-accent-color);
  font-size: var(--font-size-main);
  font-weight: 400;
}

.content div{
  display: flex;
  width: 100%;
  flex: 50%;
  flex-direction: column;
}


.title{
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
}

.title_MC{
  width: 50%;
  margin-inline-start: 20px;
}


.title_tips{
  width: 50%;
  margin-inline-start: 20px;
}

.title div{
  width: 20px;
}

.cards{
  max-inline-size: var(--max-size);
  display:flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-block-start: 53px;
  padding: 20px;
  /*min-width: 100vw;*/
  max-width: var(--max-size);
}

.card_holder{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.card{
  display: flex;
  gap: 14px;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.card_list {
  width:100%;
  display: flex;
}

.cards_title{
  width: 30%;
  margin-block-end: 22px;
}

.cardCards{
  width: 315px;
  margin-inline-end: 6px;
}

.tips{
  max-inline-size: var(--max-size);
  margin-block-start: 55px;
  display: flex;
}

.tipsContent{
  margin-block-end: -5px;
}

.tipscard{
  margin-block-start: 1px;
}

.pictures{
  width: var(--max-size);
  margin-block-start: 50px;
  padding: 20px;
  margin-block-end: 45px;
}

.image_list{
  object-fit: cover;
  display: grid;
  padding-block-start: 10px;
  /*gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
  gap: 20px;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-areas: 
  "a a b"
  "d e b"
  "d c c";
}

.image_list div{
  width: fit-content;
  display: flex;
}

.image_list img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: var(--max-size);
  display: block;
}

.image-1{
  grid-area: a;
}

.image-2{
  grid-area: b;
}

.image-3{
  grid-area: c;

}

.image-4{
  grid-area: d;

}

.image-5{
  grid-area: e;
  
}
.footer{
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
}

/*.footer_text{
  padding-block-start: 20px;
  margin-block-end: 355px;
}*/

.link{
  width: fit-content;
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--block-color);
}

.link:hover{
  outline: none;
  border-block-end: 1px solid var(--main-color);
}

.link:focus {
  outline: 1px solid var(--main-color);
}

.textWlink{
  display: block;
}

@media(max-width:1440px)
{
  .page{
    --max-size:1440px;
  }
}


@media(max-width:1024px)
{
  .page{
    --max-size:1024px;
  }
}

@media(max-width: 768px)
{
  .page{
    --max-size: 768px;
    --font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header{
    padding-block-end: 50px;
  }

  .header__theme-menu{
    justify-content: flex-end;
    padding-inline-end: 20px;
    margin-block-start: 170px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .label{
    margin-block-start: 164px;
    --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .under-label{
    margin-block-start: 197px;
  }

  .header-text{
    text-align: left;
    width: 364px;
  }

  .text-block{
    margin-inline-start: 20px;
  }

  .card{
    flex-wrap: wrap;
  }

  .cards_title{
    margin-inline-start: 0;
  }

  .card_item{
    width: 100%;
    margin-inline-end: 0;
  }

  .footer{
    padding-block-end: 150px;
  }

  .footer_text{
    margin-block-start: 455px;
  }

}


@media(max-width: 375px)
{
  .page{
    --max-size: 375px;
    padding: 10px;
    justify-content: normal;
  }

  .header{
    width: 100vw;
  }

  .header__theme-menu-list{
    margin-inline-end: 10px;
  }

  .decorated-zone::after{
    left: 0;
    bottom: 0;
  }

  .header__theme-menu{
    max-width: 100vw;
    margin-block-start: 65px;
    padding-inline-end: 10px;
  }

  .label{
    margin-block-start: 67px;
    --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height:  82.5%;
  }

  .under-label{
    margin-block-start: 55px;
    margin-block-end: 5px;
  }

  .header-text{
    width: 355px;
    margin-inline-start: 10px;
  }

  .text-block{
    margin-inline-start: 0px;
  }

  .main-content{
    margin-block-start: 51px;
    flex-wrap: wrap;
  }

  .title_MC{
    width: 80%;
    margin-inline-start: 0;
    margin-block-end: 20px;
  }

  .title_tips{
    width: 97%;
    margin-inline-start: 0px;
    margin-block-end: 23px;
  }

  .cards{
    padding: 0;
    margin-block-start: 45px;
  }

  .card_holder{
    width: 95%;
  }

  .cards_title {
    width: 80%;
  }

  .tips{
    flex-wrap: wrap;
    margin-block-start: 40px;
    width: 100%;
  }

  .pictures{
    margin-block-start: 40px;
    padding: 0;
    width: 100vw;
    margin-block-end: 35px;
    margin-inline-end: 20px;
  }

  .image_list{
    padding-block-start: 0;
    gap: 10px;
    grid-template-areas:
        "a a a"
        "b b b"
        "d d d"
        "e e e"
        "c c c";
  }

  .footer{
    padding-block-start: 20px;
    padding-inline-start: 0;
    padding-block-end: 10px;
  }

  .footer_text{
    margin-block-start: 265px;
    margin-block-end: 270px;
  }
  
}