* {
  border: 1px solid red;
}
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
html{
  font-family: var(--main-font-family);
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  line-height: var(--line-height);
}

.page {
  display: grid;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  color: var(--main-color);
  padding-block-start: 14px;
  background-image: var(--background-image); /*Только для dark*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*max-inline-size: var(--max-size);*/
  font-size: var(--font-size-main);
  justify-content: center;
  /*max-width: 98vw;*/
  justify-items: center;
}

.header {
  display: grid;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.header__theme-menu {
  font-family: inherit;
  display: flex;
  justify-content: center;
  width: 98vw;
  max-inline-size: var(--max-size);
}

.header__theme-menu-item {
  display: inline-block;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  font-size: var(--font-size-main);
  
  text-transform: lowercase;
  color: var(--decor-color);
  background-color: transparent;
  border: transparent;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.button {
  cursor: pointer;
}

.button:hover {
  outline: 1px solid var( --semi-transparent);
}

.button:focus {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.hidden-element {
  position: absolute;
  display: flex;
  text-transform: uppercase;
  justify-self: flex-end;
  color: var(--rec-color);
  font-family:  var(--main-font-family);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 400;
  margin-right: 27px;
}

.hidden-element::after {
  content: ""; 
  width: 9px; 
  height: 9px;
  background-color: var(--rec-color);
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-end: -10px;
  margin-inline-start: 10px;
  border-radius: 30px;
}

.label-box {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-block-start: 50px;
  max-inline-size: var(--max-size);
  margin-inline-start: -10px; /*Возможно об этом пожалею*/
}

.label {
  display: flex;
  color: var(--label-color);
  text-shadow: 4px 4px 0px var(--label-shadow);
  font-family: var(--main-font-family);
  font-size: var(--font-size-label);
  font-style: normal;
  font-weight: bold;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 82.5%;
}

.under-label {
  display: flex;
  justify-content: flex-end;
  width: 98vw;
  padding-block-start: 40px;
  max-inline-size: inherit;
}

.header-text {
  background-color: var(--block-color);
  color: var(--block-accent-color);
  display: grid;
  width: 49%;
  font-weight: bold;
  font-size: var(--font-size-main);
  height: fit-content;
  margin-inline-end: 10px;
}

.decorated-zone {
  width: 98vw;
  max-inline-size: var(--max-size);
}

.decorated-zone::before {
  display: block;
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  right: 10px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 25px;
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content {
  margin-block-start: 40px;
  display: flex;
  max-inline-size: var(--max-size);
}

.main-content .card_item{
  width: 100%;
}

.text-block {
  width: 100%;
  margin-inline-end: 12px;
  margin-inline-start: 4px;
}

.text-block .card {
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  margin-block-end: 8px;
}

h2 {
  color: var(--block-accent-color);
  font-weight: bold;
  font-size: var(--font-size-main);
}

h3 {
  background-color: var(--block-color);
  color: var(--block-accent-color);
  font-weight: bold;
  font-size: var(--font-size-main);
}

h4 {
  background-color: var(--block-color);
  color: var(--block-accent-color);
  font-size: var(--font-size-main);
  font-weight: 400;
}

.content div {
  display: flex;
  width: 100%;
  flex: 50%;
  flex-direction: column;
}


.title {
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-size: var(--font-size-main);
  font-style: normal;
  font-weight: 700;
}

.title_MC {
  width: 50%;
  margin-inline-start: 15px;
}
.title div {
  width: 20px;
}

.cards {
  display:flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-block-start: 53px;
  padding-block-start: 11px;
  padding-inline-start: 7px;
  width: 98vw;
  max-inline-size: var(--max-size);
}

.cards .card_item {
  width: 318px;
}

.card_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  gap: 7px;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.card_list {
  width:100%;
  display: flex;
}

.cards_title {
  width: 30%;
  margin-block-end: 17px;
}

.cards .card{
  gap: 16px;
}

.tips {
  width: 98vw;
  max-inline-size: var(--max-size);
  margin-block-start: 64px;
  display: flex;
  gap: 5px;
}

.title_tips {
  width: 50%;
  margin-inline-start: 6px;
}


.tipscard {
  margin-block-start: 1px;
}

.tips .text-block {
  margin-inline-end: 8px;
}

.tips h3{
  margin-block-end: 13px;
}

.pictures {
  width: 98vw;
  max-inline-size: var(--max-size);
  margin-block-start: 50px;
  padding: 9px;
  margin-block-end: 40px;
}

.pictures h2{
  background-color: var(--block-color);
  margin-block-start: 7px;
}

.image_list {
  object-fit: cover;
  display: grid;
  padding-block-start: 10px;
  /*gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);*/
  gap: 20px;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-areas: 
  "a a b"
  "d e b"
  "d c c";
}

.image_list div {
  width: fit-content;
  display: flex;
}

.image_list img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: var(--max-size);
  display: block;
}

.image-1 {
  grid-area: a;
}

.image-2 {
  grid-area: b;
}

.image-3 {
  grid-area: c;

}

.image-4 {
  grid-area: d;

}

.image-5 {
  grid-area: e;
  
}
.footer {
  padding: 25px;
  display: flex;
  justify-content: center;
  width: 98vw;
  height: 100vh;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
}

.footer_text{
  margin-block-start: 10px;
}

.footer .decorated-zone::after{
  bottom: 10px
}

.link {
  width: fit-content;
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--block-color);
}

.link:hover {
  outline: none;
  border-block-end: 1px solid var(--main-color);
}

.link:focus {
  outline: 1px solid var(--main-color);
}

.textWlink {
  display: block;
}

@media(max-width:1440px)
{
  .page {
    --max-size:1440px;
  }
}

/*1024px X 768px*/

@media(max-width:1024px)
{
  .page {
    --max-size:1024px;
  }
}

/*768px X 1024px*/

@media(max-width: 768px)
{
  .page {
    --max-size: 768px;
    --font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-block-start: 16px;
  }

  .header {
    padding-block-end: 50px;
  }

  .header__theme-menu {
    justify-content: flex-end;
    padding-inline-end: 10px;
    margin-block-start: 170px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 8px;
  }

  .label-box {
    align-content: flex-start;
    margin-block-start: 38px;
  }

  .label {
    --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --label-color: var(--label-color-small);
    --label-shadow: var(--label-shadow-small);
  }

  .under-label {
    padding-block-start: 25px;
  }

  .header-text {
    margin-block-end: 15px;
  }

  .text-block {
    margin-block-start: -3px;
    margin-inline-start: 15px;
  }

  .card {
    flex-wrap: wrap;
  }

  .cards .card_item {
    width: 100%;
}

  .cards_title {
    margin-inline-start: 0;
  }

  .card_item {
    margin-inline-end: 3px;
  }

  .cards .card {
    gap: 0;
  }

  .cards .card_item {
    margin-inline-end: 6px;
    margin-block-end: 8px;
  }

  .tips {
    margin-block-start: 60px;
  }

  .title .tips{
    margin-inline-start: 9px;
    margin-block-start: -3px;
  }

  .footer {
    align-content: flex-start;
  }

  .footer_text {
    margin-block-start: 435px;
  }

}

/*375px X 668px  */


@media(max-width: 375px)
{
  .page {
    --max-size: 375px;
    padding-block-start: 7px;
    justify-content: normal;
  }

  .header {
    width: 98vw;
    margin-inline-end: -6px;
  }

  .header__theme-menu-list {
    margin-inline-end: 10px;
  }

  .decorated-zone::after {
    left: 0;
    bottom: 18px;
  }

  .header__theme-menu{
    max-width: 98vw;
    margin-block-start: 60px;
    padding-inline-end: 0px;
  }

  .header-text {
    width: 100%;
  }

  .label-box {
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 28px;
  }

  .label{
    margin-block-start: 63px;
    --font-size-label: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height:  82.5%;
  }

  .under-label{
    margin-block-end: 9px;
  }

  .text-block{
    margin-inline-start: -3px;
    margin-block-start: -6px;
  }

  main{
    margin-block-start: 0;
  }

  .main-content{
    margin-block-start: 29px;
    margin-inline-start: 5px;
    flex-wrap: wrap;
  }

  .title_MC{
    width: 80%;
    margin-inline-start: 0;
    margin-block-end: 20px;
  }

  .cards{
    padding: 0;
    margin-block-start: 33px;
    margin-inline-start: -12px;
  }

  .card_holder{
    width: 100%;
  }

  .cards_title {
    width: 80%;
  }

  .tips {
    flex-wrap: wrap;
    margin-block-start: 28px;
    width: 100%;
    margin-inline-start: -4px;
  }

  .tips .text-block {
    margin-block-start: -12px;
    margin-inline-end: 0;
  }

  .tips h3 {
    margin-inline-end: 12px;
  }

  .title_tips {
    width: 97%;
    margin-inline-start: 0px;
    margin-block-end: 23px;
  }

  .card_item {
    margin-inline-end: 0;
  }

  .pictures {
    margin-block-start: 40px;
    padding: 0;
    width: 98vw;
    margin-block-end: 35px;
    margin-inline-end: 0;
  }

  .image_list {
    padding-block-start: 0;
    gap: 10px;
    grid-template-areas:
        "a a a"
        "b b b"
        "d d d"
        "e e e"
        "c c c";
  }

  .footer {
    padding-block-start: 20px;
    padding-inline-start: 0;
    padding-block-end: 10px;
  }

  .footer_text {
    margin-block-start: 265px;
    margin-block-end: 270px;
  }
  
}